<div class="header">
  <div class="right">
      <h5 class="username">
          {{ name }} |
      </h5>
    
    <img src="assets/images/powerIcon.png" (click) = 'logout()' class="pt imgWrapper">
  </div>
  <div class="head pt" (mouseenter)="hover();">
    <img src="assets/images/chatbot.png" class="cimg chatimg">
    <h5 style="display: inline;font-size: 1.8rem;">
      Chatbot
    </h5>
  </div>
</div>
<div class="chatform">
  <div class="chatlist">
    <ul #scrollMe style="overflow: scroll; height: 100%" class="list-group">
      <li class="list-group-item br" *ngFor="let mes of messages" [ngClass]="{'l': mes.left,'r': !mes.left}">
        <img src="{{mes.image}}" [ngClass]="{'avatarl': mes.left,'avatarr': !mes.left}">
        <div class="message" [ngClass]="{'fr' : !mes.left}">
          {{ mes.content }}
        </div>
        <div class="timeform" [ngClass]="{'timel': !mes.left,'timer': mes.left}">
          <i class="fa fa-clock-o" aria-hidden="true"></i>
          <span class="timestamp"> at {{mes.time | date : 'short' }}</span>
        </div>
      </li>
    </ul>
  </div>

  <div class="chatcontrol">
    <div class="input-group mb-3">
      <input [(ngModel)]="content" class="form-control chatinput" (keydown.enter)="sendMessage(content)">
      <div class="input-group-append">
        <button class="btn bt sendbtn" (mouseenter) = 'hoverBox = true; sendhover()' (mouseleave)="hoverBox = false; sendhover();" type="button" (click)="sendMessage(content)">Send</button>
      </div>
    </div>
  </div>
</div>
<div (click)='resend()' class="login pt dis">
  <a class=" primary ">
    Please login first!.....
  </a>
</div>
<div class="revButton" (mouseenter) = 'revbtne()' (mouseleave)="revbtnl();" (click) = "revOpen()" >
  <strong class="text">Reviews</strong>
</div>
<div class="reviewsOpen" (click) = 'revClose()'></div>
<div class="reviews">
  <div class="revThi">
    <div class="container resss">
      
        <div class="list">
            <ul #scrollMe style="overflow: scroll; height: 100%" class="listgroup">
              <li class="list-group-item br l1" *ngFor="let mes of reviews">
                <img src="{{mes.image}}" [ngClass]="{'avatarl': mes.left,'avatarr': !mes.left}">
                <div class="message" [ngClass]="{'fr' : !mes.left}">
                  {{ mes.message }}
                </div>
                <div class="timeform">
                  <!-- <i class="fa fa-clock-o" aria-hidden="true"></i> -->
                  <strong>
                    <span class="ff"> {{mes.name }}:</span>
                  </strong>
                </div>
              </li>
            </ul>
          </div>

          <div class="chatcontrolrev">
              <div class="input-group mb-3">
                <input [(ngModel)]="reComment" class="form-control chatinput" (keydown.enter)="addComment(reComment)">
                <div class="input-group-append">
                  <button class="btn bt sendbtn" (click)="addComment(reComment)">Add Comment</button>
                </div>
              </div>
            </div>

    </div>
  </div>
</div>
