.chatform{
   width: 600px;
   margin: 0 auto;
   top: 50px;
   position: relative;
}
.chatcontrol{
  float: left;
  width: 100%;
  
  top: -50px;
  position: relative;
  .chatinput{
    border-radius: 20px 0 0 20px !important;
    width: 80%;
    float: left;
    border-radius: 0;
  }

  .sendbtn{
    width: 100%;
    float: left;
    border-radius: 0;
    text-transform: uppercase;
    border-radius:  0 20px 20px 0;    
  }
}
.login  {
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.list-group :hover {
  cursor: pointer;
  box-shadow: 0 0 6px rgba(152, 159, 162, 0.397);
}

.message {
  font-size: 1em;
  font-style: italic;
  font-weight: 400;
  display: inline;
}

.timeform {
  display: inline;

  .timestamp{
    font-size: 0.6em;
  }
}

.avatarl{
  width: 50px;
  margin-right: 20px;
}
.avatarr  {
  width: 50px;
  margin-left: 20px;
  float: right;
}

.chatlist{
  height: 80vh;
  overflow-y: scroll;
}

.br {
  margin-bottom: 10px;
}

.l  {
  width: 90%;
  border-radius: 55px 55px 55px 0;
  background: whitesmoke;
}
.r {
  border-radius: 55px 55px 0 55px;  
  width: 90%;
  border-radius: 55px 55px 0 55px;
  transform: translate(10%, 0);
  background: turquoise;
}
.timer  {
  float: right;
  margin: 30px 3px 0 0;
}
.timel  {
  float: left;
  margin: 30px 3px 0 0;
}
.fr {
  float: right;
}

.header {
  position: relative;
  height: 50px;
  background: #07c1b0b5;
  color: white;
  // background-image: linear-gradient(to right top, white, #e9e9e92b, #dcdcdc, #dcdcdc);
  box-shadow: 0px 0px 3px #888888;
}
.right  {
  position: absolute;
  right: 0;
}
.imgWrapper {
  padding: 10px;
  margin: 5px 6px 5px 0;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
.username {
  // color: #504840;
  display: inline;
}
.chatimg{
  margin-left: 5px;
  margin-right: 5px;
  height: 50px;
  border-right: 1px solid white;
}
.chatimgh{
  transform: translate(10px, 0);
  transition: all 0.2s ease-in-out;
}
.chatimgb {
  transform: translate(0px, 0);
  transition: all 0.5s ease-in-out;  
}
.bt{
  background: #07c1b0b5;
  color: white;
}
.bth  {
  background: #07c1b2e5;  
}