<div class="fix"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm" style="z-index: 5;">
      <img class="color" src="../../../assets/images/daiflow.png">
      <!-- <div class="color"></div> -->
    </div>
    <div class="col-sm" style="z-index: 1;">
      <div class="container Acenter">
        <h3 class="center"> User Signup</h3>
        <hr>
        <form>
          <div class="form-group">
            <label for="Fname">Full Name</label>
            <input type="text" class="form-control form-control-sm" id="Fname" aria-describedby="emailHelp" placeholder="Enter UserName">
          </div>
          <div class="form-group">
            <label for="username">User Name</label>
            <input type="text" class="form-control form-control-sm" id="username" aria-describedby="emailHelp" placeholder="Enter UserName">
          </div>
          <div class="form-group">
            <label for="email">E-mail</label>
            <input type="text" class="form-control form-control-sm" id="email" aria-describedby="emailHelp" placeholder="Enter UserName">
          </div>
          <div class="form-group">
            <label for="pass">Password</label>
            <input type="password" class="form-control form-control-sm" id="pass" placeholder="Password">
          </div>
          <!-- <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div> -->
          <button type="submit" class="btn btn-primary">Submit</button>
          <small id="emailHelp" class="form-text text-muted" style="display:inline"> Already have an Account
            <a (click)="login()" class="text-primary pt">Log In</a>.
          </small>
        </form>
      </div>
      <!-- <div class="cover dis"></div> -->
    </div>

  </div>
</div>