<div class="fix"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <div class="container Acenter">
        <h3 class="center"> User Login</h3>
        <hr>
        <!-- <form> -->
          <div class="form-group">
            <label for="username">User Name</label>
            <input type="text" class="form-control form-control-sm" (keyup.enter) = 'login()' id="username" [(ngModel)] = 'Uname' aria-describedby="emailHelp" placeholder="Enter UserName">
            <span class="small mar" *ngIf="usernameValidation" style="color:red">*Enter valid Username</span>
          </div>
          <div class="form-group">
            <label for="pass">Password</label>
            <input type="password" class="form-control form-control-sm" (keyup.enter) = 'login()' [(ngModel)] = 'password' id="pass" placeholder="Password">
          </div>
          <!-- <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div> -->
          <button type="submit" class="btn btn-primary" (click) = 'login()' >Log in</button>
          <small id="emailHelp" class="form-text text-muted" style="display:inline"> Don't have one!, then
              <a (click)="signup()"  class="text-primary pt">Sign Up.</a>
              <!-- <a routerLink='/signup'>Sign Up.</a> -->
            </small>
        <!-- </form> -->
      </div>
    </div>
    <div class="col-sm">
      <img class="color" src="../../../assets/images/daiflow.png">
    </div>
  </div>
</div>